.NavItem{
    font-weight: bold;
    font-size: 18px;
    color: white !important;
    margin:2px 30px 2px 30px;
    text-align: center !important;
}
.NavItem:hover{
    font-weight: bold;
    color: rgb(71, 179, 230) !important;
}
.navBar{
    background-color:#111;
    
}
.fixed{
    position: fixed !important;
    width:100%;
    top:0;
    z-index: 20;

}

.active{
    color: rgb(71, 179, 230) !important;
}
