
.login-titulo {
    margin: 5rem 0;
    text-align: center;
    text-shadow: 0 0 10px #fff;
}

.main-container {
    height: 100%;
}

.main-container > div {
    width: 100%;
}

.login-box {
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-width: 1;
    background-color: white;
}

.login-page {
    background-image: linear-gradient(#fff8, transparent), url("../assets/login-background.jpg");
    height: 900px;
}

.login-form {
    text-align: left;
}

.login-text {
    color: #FFB600;
}

.login-require {
    color: red;
}

.login-button {
    background-color: #FFB600;
}
