.bod{
     /* background: -webkit-linear-gradient(to right, #faf285, #faf741);
    background: linear-gradient(to right, #edf798, #f7dd4f);*/
 
}
.container {
   
}
.people{
    padding:20px;
}

.imgServicio{
    position: relative;
    width: 200px !important;
    height: 200px  !important;
  }
